<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">CRUD Operation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="employees/add">Add Employee</a>Add
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="employees/new">Add Employee</a>Add
        </li> -->
      </ul>
    </div>
  </div>
  <!-- <li class="nav-item">
  <a class="nav-link active" aria-current="page" [routerLink]="['/employees/add']" routerLinkActive="active" ariaCurrentWhenActive="page">Add Employee</a>Add
  </li> -->
</nav> 

<router-outlet></router-outlet>